/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

.add-account-btn {
  padding: 10px 20px;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}

.email-table {
  border-collapse: collapse;
  max-width: 800px;
}

.email-table th, .email-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.email-table th {
  background-color: #f2f2f2;
}


.form-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
}

.loader span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #fffffff5;
  width: 210px;
  height: 50px;
}

.email-grid {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}